
:root {
    --borderBorder: 1px solid var(--colorSemanticPrimaryCtaPrimaryBackground);    
    --borderBorder2: 1px solid var(--colorSemanticPrimaryCtaPrimaryBackground);    
    --borderKlm: var(--measureGenericTiny) solid var(--colorPaletteBlueBlue800);    
    --borderKlm3: 1px solid var(--colorPaletteBlueBlue200);    
    --borderBorderX: var(--measureGenericTiny) solid var(--colorSemanticPrimaryCtaPrimaryBackground);    
}